/* nav {
  position: fixed;
  width: 100%;
} */
.Bio {
  padding-top: 5rem;
}
.Bio > h2 {
  font-size: 2em;
  font-weight: 400;
  color: cornflowerblue;
}
.Bio > h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: cornflowerblue;
}
.Bio > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  /* padding-right: 350px; */
}
/* .intro{
    padding-right: 20rem;
} */
.devPicture {
  /* padding-right: 80px;  */
  width: 100%;
  height: 100%;
}
.Profile-gears {
  font-weight: bold;
}
.button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: large;
  background-color: crimson;
}
/* Hide the toggle button on larger screens */
.menu-icon {
  display: none;
}
/* Show navigation links on larger screens {/* flex justify-center gap-10  flex justify-center gap-10 font-bold*/
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  font-weight: bold;
  padding-right: 50px;
  font-size: 1.3rem;
}
.nav-links a:hover {
  color: #ff0000;
}
.Profile-gears a:hover {
  color: black;
}
/* className=' rounded-md bg-black text-white p-3 ' */
@media screen and (max-width: 980px) {
  .header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: -60px;
    padding: 60px;
  }
  .devPicture {
    padding-top: 60px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 670px) {
  .header {
    display: flex;
    width: 100%;
    padding: 1em;
    flex-direction: column-reverse;
  }
  .intro {
    flex-wrap: wrap;
  }
  .Bio > .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Bio {
    margin-top: -25px;
    /* width: 100%; */
  }
  .Bio h1 {
    font-size: 2em;
  }
  .Bio h2 {
    font-size: 1.5em;
  }
  .Bio h3 {
    text-align: justify;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    padding-right: 50px;
    text-align: end;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
  }

  /* Styling for the menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Show the navigation links when the navbar is open */
  .nav-links.block {
    display: flex;
  }

  .nav-links a {
    text-decoration: none;
    /* color: #333; */
    font-weight: bold;
    padding: 8px 16px;
  }

  .nav-links a:hover {
    color: #ff0000; /* Add hover effect */
  }
  .Profile-gears {
    /* display: flex;
    padding-left:  440px; */
    justify-content: end;
    /* padding: 8px 16px;  */
    /* align-items: end; */
    /* text-align: end; */
  }
  .Profile-gears a:hover {
    color: black;
  }
}
